<p-breadcrumb [model]="bcItems" [home]="bcHome"></p-breadcrumb>
<h3>{{ title }} </h3>
<p-messages [(value)]="errorMessage"></p-messages>
<p-dataTable [value]="facilities"
             sortMode="multiple"
             sortField="stats.lastUpdate" sortOrder="1"
             [loading]="loading"  loadingIcon="fa-spinner fa-pulse"
             emptyMessage="No stats found" [responsive]="true"
             [reorderableColumns]="true" columnResizeMode="fit" [resizableColumns]="true" [paginator]="true" [rows]="500"
              [totalRecords]="recordCount"

>
    <p-column field="code" header="MFL" [filter]="true"></p-column>
    <p-column field="name" header="Facility" sortable="true" [filter]="true"  filterMatchMode="contains"></p-column>
    <p-column field="stats.noOfPatients" header="Patients" sortable="true"></p-column>
    <p-column field="stats.lastUpdate" header="Last Update" sortable="true">
        <ng-template let-col let-facility="rowData" pTemplate="body">
           {{facility.stats.lastUpdate | date: 'dd MMM yyyy'}}
        </ng-template>
    </p-column>

    <p-column field="stats.timeAgo" header=""></p-column>
    <p-column field="emr" header="EMR" sortable="true"></p-column>
    <ng-template pTemplate="paginatorLeft">

    </ng-template>
</p-dataTable>
